// You can overwrite bootstrap default values here.
// Refer node_modules/bootstrap/scss/_variables for a full list of variables.

// $primary: #d97700;
// $secondary: rgb(34, 255, 0);
// $danger: #ff36ee;

// $grid-breakpoints: (
//   xs: 0,
//   sm: 576px,
//   md: 600px,
//   lg: 992px,
//   xl: 1200px,
//   xxl: 1400px,
// );
$backgroundColor :rgba(251, 239, 216, 0.721);
$navbackground : rgb(248, 223, 190);
$heading: rgba(99, 2, 134, 0.913);
$headingbackground : rgba(47, 2, 87, 0.414);
$fontcolor : rgb(64, 59, 59); 
$centerborder : rgba(186, 174, 174, 0.532);
