// @import "base";
// You need the base only when you are not using bootstrap. In that case, go to _base.scss
// to customize it as you may want.

@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "./base";
@import "./mixin";
@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Fredericka+the+Great&family=Kaushan+Script&family=Love+Ya+Like+A+Sister&family=Maven+Pro:wght@400;500;600;800;900&family=Miniver&family=Niconne&family=Rubik+Moonrocks&display=swap");

// HOME PAGE
header {
  display: flex;
  justify-content: space-between;
  @include media-breakpoint-down(lg){
    flex-direction: column;
    justify-content: center;
  }


  nav ul {
    background-color: $navbackground;
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    position: fixed;
    height: 100vh;
    width: 10vw;
    @include media-breakpoint-down(lg) {
      flex-direction: row;
      height: 10vw;
      width: 100%;
    }
    li {
      list-style: none;

      a {
        font-size: clamp(1rem, 4vw, 2.2rem);
        color: gray;
        font-family: "Miniver";
        text-decoration: none;
        transition-duration: 0.5s;
      }
    }
    a:hover {
      font-size: 2.4rem;
      color: rgba(51, 2, 112, 0.765);
      padding: 1.2rem;
      border-bottom: 3px solid $heading;
      border-radius: 50px;
      box-shadow: 0px 0px 15px rgba(51, 2, 112, 0.765);
    }
  }
  .sec-1 {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include media-breakpoint-down(lg){
      height: fit-content;
      margin: 15rem 0;
      justify-content: flex-start;
  
    }
    h1,
    h2 {
      margin: 0;
      font-size: clamp(4rem, 6vw, 10rem);
      color: $heading;
      font-family: "Niconne";
      text-align: center;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }
    span {
      font-size: 4rem;
    }
    p {
      font-family: "Miniver";
      text-align: center;
      font-size: clamp(2rem, 5vw, 4rem);
    }
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 10rem;
    flex-direction: column;
    margin-right: 10rem;
    @include media-breakpoint-down(lg){
      flex-direction: row;
      font-size: 5rem;
      align-items: center;
      margin-right: 0;
     
    }
    i {
      transition-duration: 1s;
      animation: zoomout 5s infinite;
      color: $heading;
    }
    i:hover {
      color: grey;
    }
  }
}
@keyframes zoomout {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(0.8);
  }
}



main {
  section {
    padding-top: 7rem;
    
  }
  h2 {
    font-size: clamp(3rem, 6vw, 6rem);
    margin: 0;
    color: $heading;
    font-family: "Kaushan Script";
    text-transform: uppercase;
  }
  p {
    font-family: "Miniver";
    text-align: center;
    font-size: 2.2rem;
    color: $fontcolor;
  }
  // Yusra's About Page
  h3 {
    font-size: clamp(2.8rem, 5vw, 5rem);
    color: $heading;
    text-align: center;
    margin-top: 10rem;
    font-family: "Cookie";
    background-color: $headingbackground;
    border-radius: 30px;
    padding: 0;
  }
  #about {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    flex-direction: row;

    .info {
      border-right: 2px solid $centerborder;
      padding-right: 6.9%;
      h2,
      h3,
      h4,
      h5,
      p,
      .skill {
        margin-left: 10vw;
        text-align: center;
      }

      .edu::after {
        content: "";
        height: 20px;
        width: 20px;
        display: block;
        position: relative;
        left: 115%;
        border-radius: 50%;
        background-color: $heading;
      }

      h4 {
        color: $heading;
        font-size: clamp(2.6rem, 5vw, 4rem);
        margin-top: 2rem;
        font-family: "Cookie";
        span {
          text-decoration: underline;
        }
      }
      
      .skill-h {
        text-align: center;
      }
      
    }

    .profile {
      height: 35vh;

      border: 5px double black;
      padding-left: 1rem;
      padding-bottom: 1rem;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      img {
        height: 100%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border: 2px solid rgb(10, 8, 8);
      }
    }
  }
  .about-me {
    width: 30%;
    margin: 0 auto;
    text-align: justify;
    position: absolute;
    right: 100px;
    top: 135%;
    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  #project {
    height: 100vh;
    margin-left: 11vw;
    p {
        color: $fontcolor;
        font-size: 2rem;
        font-family: "Miniver";
      }
    .project-sec {
      height: 50vh;
      margin-top: 5rem;
      display: flex;
      justify-content: center;
      align-items: end;
      gap: 5rem;
      .click{

        h4 {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-family: "Miniver";
          font-size: 3rem;
        }
        .cover-dis{
          height: 37.8rem;
      width: 35rem;
      background-color: rgba(8, 8, 8, 0.632);
      position: absolute;
     opacity: 1;
     transition-duration: 1s;
     color: snow;
     z-index: 1;
    
  
        }
        a {
          text-decoration: none;
        }
        
        .card{
          border: 4px double $fontcolor;
          transition-duration: 1s;
          .card-body{
            background-color: $navbackground;
            h5 {
              font-size: 2rem;
              color: $heading;
              font-family: "Cookie";
            }
          }
        }
      }
     
    }
    .click:hover .cover-dis{
      opacity: 0;
      cursor: pointer;
    }
    .click:hover .card{
      transform:rotate(5deg) scale(0.9);
        color: rgb(82, 24, 24);
        transition-delay: .1s;
    }

  }

}

footer{
  margin-left: 11vw;
 
  h2 {
    font-size: clamp(3rem, 6vw, 6rem);
    margin: 0;
    color: $heading;
    font-family: "Kaushan Script";
    text-transform: uppercase;
    text-align: center;
  }
  #contact{
    height: 100vh;
    padding-top: 5rem;
   .contact-sec{
    display: flex;
    justify-content: space-around;
 align-items: end;
    .form{
      form{
       
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
        gap: 0.5rem;
        label{
          color: $heading;
          font-family: "Kaushan Script";
          font-size: 3rem;
        }
        input, textarea{
          width: 100%;
          background-color: $backgroundColor;
        }
        input:focus,
        textarea:focus{
          outline-color: $heading;
        }
        button {
          margin: 1rem;
          padding: 1rem 2rem;
          color: $heading;
          font-size: 3rem;
          font-family: "Kaushan Script";
         border-radius: 50px;
          border: none;
          background-color: $headingbackground;
          transition-duration: 1s;
        }
        button:hover{
          transform: scale(1.1);
          background-color: $centerborder;
          cursor: pointer;
        }
      }
    }
    .contact-icon div {
      height: 20rem;
      width: 20rem;
      margin: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 20px;
      box-shadow: 0px 0px 20px grey;
      h4{
        color: $heading;
          font-family: "Kaushan Script";
          font-size: 2rem;
      }
      i{
        font-size: 5rem;
        color: $heading;
      }
    }
    .icon:hover i{
      color:$centerborder
    }
   }
    
  }
  
}

.up{
   
  i{
   position: sticky;
   left: 3%;
   bottom: 1%;
   font-size: 4rem;
   color: $heading;
  }
    
     
   }

// -------------------------------------
